<div class="innercontent clearfix">
				<div class="padding">
					<h1>Special Events and Programs</h1>
                    <p>Class Act Federal Credit Union is committed to the community
                        and specifically, to education initiatives within our
                        community.&nbsp;  These are just a few of the community
                        events that we help through sponsorship and volunteering.&nbsp; </p>
                    <p>One of our on-going objectives is to be involved in community
                        outreach.&nbsp; We identify organizations within our
                        community that share a similar mission for developing
                        educational initiatives to shape our community&rsquo;s
                        future.&nbsp; We set aside funds in our operating budget
                        for community outreach, along with donating $5 for every
                    new membership account that is opened.&nbsp; </p>
                    <p>Thank you to our wonderful staff for all of the hours
                        they give of their time to help us assist the education
                        community in Louisville!</p>
                    <hr />
                    <div id="thumbnail">
                        <div class="thumbnail">
                            <%= image_tag "community17.jpg", :alt =>"Jefferson County Public Schools Logo" %>
                        </div> 
                        <div class="thumbnailpad">
                            <%= image_tag "community29.jpg", :alt =>"" %>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag "community27.jpg", :alt => "" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community19.jpg", :alt =>"lsrcover Lady Cards One More Time" %>
                        </div>
                        <div class="thumbnailpad">
                            <%= image_tag "community3.jpg", :alt =>"girls softball" %>
                        </div>
                        <div class="thumbnailpad">
                            <%= image_tag "community23.gif", :alt => "KET" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community2.jpg", :alt =>"" %></div> 
                        <div class="thumbnail">
                            <br />
                            <%= image_tag "community11.gif", :alt =>"'Go back to KHSAA Home Page'" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community8.jpg", :alt => "" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community10.jpg", :alt=>"" %>
                        </div> 
                        <div class="thumbnail">
                            <br />
                            <%= image_tag "community.jpg", :alt=>"Doss High School: Magnet Career Academy" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community31.jpg", :alt=>"" %>
                        </div> 
                        <div class="thumbnail">
                            <%= image_tag "community34.jpg", :alt => "" %>
                        </div> 
                        <div class="thumbnailpad">
                            <%= image_tag "community32.jpg", :alt=>"" %>
                        </div>
                        <div class="thumbnail">
                            <br />
                            <br />
                            <%= image_tag "community21.gif", :alt=>"" %>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag "community33.jpg", :alt=>"" %>
                        </div>
                        <div class="thumbnailpad">
                            <%= image_tag "community35.jpg", :alt=>"" %>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag "community36.jpg", :alt=>"" %>
                        </div>
                        <div class="thumbnail">
                            <%= image_tag "community37.jpg", :alt=>"" %>
                        </div>
                    </div>
                    <div id="community">
                    <h5>Community Outreach Presentation at Annual Meeting</h5>
                        <p>On behalf of the entire Class Act Federal Credit Union
                            membership, we recognized five community organizations
                            with a monetary gift to each of their respective
                            programs at our 2010 Annual Membership Meeting on
                            March 17th.&nbsp; </p>
                        <p><strong>Family Scholar House</strong> &ndash; This
                            organization is changing lives, families, and our community.&nbsp; Their
                            program aims to end the cycle of poverty by giving single-parent
                            students the support they need to achieve a four-year
                            college degree.&nbsp; Family Scholar House participants
                            are provided affordable housing, educational assistance,
                            access to convenient childcare, transportation to school,
                            work and errands, and advisors to assist them with development
                            of parenting and life skills necessary to achieve self
                            sufficiency.&nbsp; A donation of $2,000 was given to
                            Family Scholar House.</p>
                        <p><strong>University</strong><strong> of Louisville</strong><strong> -
                            Gheens Science Hall and Rauch Planetarium</strong>.&nbsp;  &nbsp;The
                            Planetarium is part of the College of Education
                            and Human Development.&nbsp; The Planetarium&rsquo;s
                            vision is to provide a friendly, comfortable,
                            hi-tech, multi-media, learning venue for the
                            presentation of educational programs supporting
                            astronomy and space science education.&nbsp; A
                            donation of $2,000 was given to Gheens Science
                            Hall and Rauch Planetarium.</p>
                        <p><strong>University</strong><strong> of Louisville
                            Junior Achievement</strong> &ndash; This
                            wonderful program allows U of L students to attend
                            and participate in a full day&rsquo;s learning
                            in Biz Town and Finance Park.&nbsp; U of L students
                            in the school of education and school of business
                            have the opportunity to attend this program as
                            well to experience first hand the critical economics
                            and management decisions taught through an interactive
                            simulation. Class Act FCU provided a donation
                            to the University to assist with the cost of
                            these students participating in the program.
                            A donation of $2,000 was given to the University
                            of Louisville to help with their Junior Achievement
                            program.</p>
                        <p><strong>University</strong><strong> of Louisville
                            Foundation for the Class Act FCU Endowed Scholarship
                            Fund</strong> &ndash; A few years ago, Class
                            Act Federal Credit Union set up an endowed scholarship
                            fund with University of Louisville&rsquo;s College
                            of Education and Human Development.&nbsp; The
                            College of Education and Human Development is
                            committed to preparing students to shape tomorrow
                            through their teaching, research, leadership,
                            and community outreach.&nbsp; We made a $2,000
                            contribution to the University of Louisville
                            Foundation for the Class Act FCU endowed scholarship
                            fund.&nbsp; </p>
                        <p><strong>Jefferson</strong><strong> County</strong><strong> Public
                            Education Foundation</strong> &ndash; Lastly,
                            a gift was made to the Jefferson County Public
                            Education Foundation. The Foundation has several
                            ongoing initiatives and we made this donation
                            to show our support of these efforts to provide
                            educational opportunities for the children in
                            our community. A donation of $5,000 was given
                            to the Jefferson County Public Education Foundation.</p>
                            We want to thank <strong>YOU</strong>, the member-owners of Class Act FCU for
                            making these gifts to our educational community possible.
                            <hr />
                        <p>&nbsp;</p>
                        <h5>Class Act Community Events</h5>
                        <p><strong>Kentucky High School 6th and
                            7th Region Basketball Tournaments &ndash; </strong>For
                            the second straight year the credit union is sponsoring
                            the boys and girls 6th and 7th region basketball
                            tournaments.
                        </p>
                        <p>&nbsp;</p><strong>Doss High School Branch &ndash;</strong> Progress
                            continues to be made to open our first in-school student-run branch at Doss
                            High School.&nbsp; Floor plans have been approved and submitted and contruction
                            will begin shortly.&nbsp; We will be bringing 6 students in to our main office
                            to conduct training on how to run the school branch and then in August they
                            will be given the reigns to successfully run their own branch!&nbsp; Go Dragons! 
                        <p>&nbsp;</p><strong>Annual LEEP Breakfast</strong> &ndash; Class
                            Act is again a Silver Level sponsor of the LEEP breakfast.&nbsp; LEEP (The
                            Louisville Education and Employment Partnership) is a collaborative effort
                            among the Jefferson County Public Schools, Louisville Metro Government, Metro
                            United Way, and KentuckianaWorks.<br />
                        <p>&nbsp;</p><strong>University of Louisville Women</strong><strong>&rsquo;s
                            Basketball Sponsorship &ndash; </strong>The credit union is now in the
                            middle of its 2nd year to sponsor UofL Women&rsquo;s Basketball.&nbsp;  Go
                            Cards! 
                        <p>&nbsp;</p><strong>FoolProof &ndash; </strong>the
                            credit union has added FoolProof financial education
                            to our website and has begun to actively market it to
                            our members in the branch, online, and 
                            <%= link_to "on our Facebook page", "http://www.facebook.com/home.php?#!/pages/Louisville-KY/Class-Act-Federal-Credit-Union/83411577780?ref=ts", :rel=> "external" %>.
                        <p>&nbsp;</p><strong>Bank On Louisville - </strong>Louisville
                            is one of eight cities chosen by the National League
                            of Cities to participate in a model program to encourage
                            unbanked and under-banked people to use the financial
                            system.&nbsp; Several credit unions, including Class
                            Act FCU are represented on various committees (Lynn Huether
                            serves on the Financial Education Committee, Pat Curran
                            serves on the Marketing Committee and Tom Anonson serves
                            on the Financial Education Committee).&nbsp;  The program
                            is aimed at combating check cashing and payday lending
                            operations and to encourage usage of traditional banking
                            products.
                        <p>&nbsp;</p><strong>Free Credit Review Day &ndash; 2nd
                            Tuesday of each month &ndash;</strong>Due to enduring
                            appeal of this very popular event, we have decided
                            to offer it regularly on the 2nd Tuesday of each
                            month.&nbsp; Members really have quite an appetite
                            for understanding their credit reports.&nbsp; They
                            appreciate having someone who is knowledgeable and
                            whom they can trust take the time to go over it with
                            them.&nbsp; Almost without exception, each member
                            who has used this service has found opportunities
                            to save money by opening a new loan here at their
                            credit union.&nbsp; Special thanks to Linda Mattingly
                            and Ashley Bean for their extra effort in making
                            this event such a success.<strong></strong>
                        <p>&nbsp;</p>
                        <p><strong>Every Thursday Evening -&nbsp; UofL
                            Thursday Night Movie &ndash;</strong> sponsored by
                            Class Act FCU &ndash; The credit union will be featured
                            with a 30 second commercial before each film.&nbsp; This
                            is a new event and will take place every Thursday
                            for the &rsquo;09&ndash;&rsquo;10 school year.&nbsp;  Movies
                            will also run on selected Sundays and other days
                        at the Floyd Theater in the SAC. </p>
                        <p>&nbsp;</p>
                        <p><strong>KET Sponsorship Biz Kids program: </strong>Class
                            Act underwrites this worthwhile program.&nbsp; Biz Kids
                            is a program that teaches kids how to make and manage
                            money.&nbsp; BizKid$ is supported by Junior Achievement
                            and America&rsquo;s Credit Unions. </p>
                        <p>&nbsp;</p>
                        <p>
                            <strong>Life Smarts Statewide Competition</strong> &ndash; Sally
                            Gorman has been involved with Life Smarts and prompted
                            the credit union to donate 125 Class Act logo&rsquo;d
                            highlighters to this statewide event that was held in
                            Frankfort. </p>
                        <p>&nbsp;</p>
                        <p><strong>UofL Women&rsquo;s Softball
                            Annual Banquet </strong>- Class Act donated supplies for this event
                            that was held at the Galt House.&nbsp; Class Act was represented by Tiffany
                            Gartner and Michelle Speer. </p>
                        <p>&nbsp;</p>
                        <p><strong>UofL Counseling Center Stress Reduction Seminar &ndash; </strong>Class
                            Act FCU co-presented a seminar on stress reduction.&nbsp; Linda Mattingly,
                            Barbara Cook and Pat Curran teamed up to give advice on budgeting, credit,
                            and avoiding common pitfalls.&nbsp;  The center will gave tips on dealing
                            with the physiological effects of stress.</p>
                        <p>&nbsp;</p>
                        <p><strong>Kentucky Gold Key Scholastic
                            Awards Exhibit  &ndash; </strong>Class Act FCU is
                            sponsoring this near monthlong event featuring Gold
                            Key Scholastic Award winners in visual art and writing.&nbsp; 
                            This is the 87th year for the Gold Key Scholastic
                            Awards, the oldest such competition in the country. &nbsp;The
                            exhibit was held at the Kentucky Museum of Art and
                        Craft.</p>
                        <p>&nbsp;</p>
                        <p><strong>Kosair Children&rsquo;s Hospital University
                            of Louisville Dance Marathon (ULDM) &ndash;&nbsp; </strong>The credit
                            union again this year participated and sponsored this important fund
                            raiser to benefit Children&rsquo;s Hospital Foundation.&nbsp; This
                            year&rsquo;s ULDM has expanded with two separate venues to accodomate
                            the increased number of dancers.&nbsp; In addition to offering a
                            financial incentive to participate, the credit union had several
                            staff members on hand (Barbara Cook and Angie Thomas) to help with
                            the fun.&nbsp; The credit union rented an inflatable bungy race game
                            that was a big hit despite some issues with the harnesses.</p>
                        <p>&nbsp;</p>
                        <p><strong>Class Act Jr. LIT Basketball
                            Tournaments &ndash; </strong>The credit union is the major sponsor of
                            this series of tournaments in dance, cheer, and basketball.</p>
                        <p>&nbsp;</p>
                        <p><strong>Finance 4 U </strong>&ndash; The credit union
                            is providing dinner and Sally Gorman was the featured speaker at this
                            meeting.&nbsp; She spoke on credit scores and provided CUNA handouts.&nbsp; Class
                            Act&rsquo;s Quality Control Committee Chair, Amber Carrier has also been
                            very involved in establishing and nuruturing Finance 4 U.</p>
                        <p>&nbsp;</p>
                        <p>
                            <strong>University of Louisville Cardinal Dames Fashion Show &ndash; </strong>
                            The credit union is sponsoring this
                            event as well as providing our signature floral centerpieces with Class
                            Act candy jar.&nbsp; Fashions will be modeled by local celebrities and
                            UofL personalities. &nbsp;Proceeds will benefit UofL Athletics scholarships
                            and the Hickman Scholarship Fund. 
                        </p> 
                        <p>&nbsp;</p>                            
                        <p><strong>The Society of Porter Scholars</strong> -
                            is a student led organization, at the University
                            of Louisville, named in honor of the late Woodford
                            R. Porter, Sr.&nbsp; Mr. Porter was the first African
                            American to serve as Chairman on UofL&rsquo;s Board
                            of Trustees.&nbsp; This year marks the 25th anniversary
                            of the Society of Porter Scholars inception.&nbsp; The
                            purpose of the society is to encourage high standards,
                            enhance leadership development, and perpetuate academic
                            and social success to achieve graduation.&nbsp; Class
                            Act Federal Credit Union is proud to have committed
                        $1,000 towards this scholarship.                        
                        <p>                                                
                    </div>
				</div>
			</div>