<div id="main">
      <div class="innercontent clearfix">
      	<div class="padding">  
      	  <p>Whatever your savings needs, Class Act FCU is here to provide savings programs
      	    designed with our members in mind. </p>
      	  <h1>Regular Share Savings</h1>
          
            <blockquote>
              <p> Your Regular Share Savings account <%= link_to "dividends", rates_path %> are 
                calculated daily and credited to your account 
                quarterly.  A minimum deposit of $25 is necessary to open this account.</p>
              <p> For more information see our <%= link_to "Rate and Fee Schedule", ratesch_path(:anchor=>"savings") %>. </p>
            </blockquote>
            
          <h1>IRA Savings Account</h1>
          
            <blockquote>
              <p>Begin planning your retirement now with an IRA from Class Act FCU.  This 
                tax-deferred account earns <%= link_to "dividends", rates_path %> that are 
                calculated daily and credited to your account quarterly.  A daily 
                balance of $25 is required for this account unless you have an IRA 
                Certificate.</p>
              <p>For more information see our <%= link_to "Rate 
                and Fee Schedule", ratesch_path(:anchor=>"irasav") %>.</p>
            </blockquote>
            
          <h1>Summer Account</h1>
          
            <blockquote>
              <p>Tired of earning no interest on your summer escrow money? At Class Act FCU,
                you can set up a summer savings account and earn interest on the amount
                you're putting aside for summer. Then, you have the choice of receiving
                checks every two weeks during the summer or having Class Act FCU transfer that
                money directly into your checking account.</p>
              <p>For more information see our <%= link_to "Rate and Fee Schedule", ratesch_path(:anchor =>"other") %>.</p>
            </blockquote>
            
          <h1>Christmas Club Account</h1>
          
            <blockquote>
              <p>Does Christmas seem to sneak up on you every year? With a Class Act FCU Christmas
                Club account, your holidays can be more enjoyable.  Combined with 
                Direct Deposit, this account builds throughout the year, and a check is
                sent to you automatically before the holidays arrive. <a href="rates.asp">Dividends</a> are calculated 
                daily and credited to your account quarterly.  A $5 minimum daily balance 
                is required. </p>
              <p>For more information see our <%= link_to "Rate and Fee Schedule", ratesch_path(:anchor =>"other") %>.</p>
            </blockquote>
            
          <h1>Vacation Club Account</h1>
          
            <blockquote>
              <p>Planning a vacation, but don't have the money?  Our Vacation Club 
                account is your answer!  Combined with Direct Deposit, this account 
                builds throughout the year, and is available when you're ready for your
                vacation. A $5 minimum daily balance is required. </p>
              <p>For more information see our <%= link_to "Rate and Fee Schedule", ratesch_path(:anchor =>"other") %>.</p>
            </blockquote>
            
        </div>
      </div>
    </div>