<div class="innercontent clearfix">
				<div class="padding">          
<!--=================Your Credit Union International CU Day=============-->
          <div class="bottomline">
            <a name="CU" id="CU"></a>
            <h2>Your Money.  Your Choice.  Your Credit Union.</h2>
            <p>Do you know what you have in common with 177 million other people in 96 different countries?  You belong to a credit union!  On October 15, 2009, Class Act Federal Credit Union celebrated International Credit Union Day.  This year’s theme was, Your Money.  Your Choice.  Your Credit Union.  Do you remember why you chose Class Act Federal Credit Union to be YOUR credit union?  We asked our members that came in on International Credit Union Day to share their story.  Here is what some of our members say about their Credit Union…
            <p><em>I decided to join Class Act FCU because I live on campus @ UofL and it’s very convenient to save money here.  I’m allowed to use the ATM without any fees to which I truly appreciate.  I just joined the Credit Union so hopefully I learn about it a little bit better.</em>
        <br /><br />Shinelle, member since 2009
        <p><em>The Credit Union offered me the best choices for how to use my money!  Since I’ve been with you, I have learned a lot about how to get the most out of the money that I have.  But most of all, I have made a lot of friends!</em>
        <br /><br />Charlotte, member since 1991
        <p><strong>C</strong>harm and cheer                                          
        <br />
        <strong>R</strong>ight advice given                                         
        <br />
        <strong>E</strong>very angle considered                                 
        <br />
        <strong>D</strong>isplays knowledge of                                  
        <br />
        <strong>I</strong>ndividual members in
        <br />
        <strong>T</strong>otal unity
        <br /><br />
        <p><strong>U</strong>nion of family
        <br />
        <strong>N</strong>ourished
        <br />
        <strong>I</strong>n understanding
        <br />
        <strong>O</strong>ften taking the extra time
        <br />
        <strong>N</strong>ever forgetting we are one
        <br /><br />Amelia, member since 2002
        <p>Thank you to ALL of our members for a wonderful 2009 and we look forward to serving you for all of your financial services in the future!</p>
          </div>
<!-- =================CD Bonus============= -->
				<div class="bottomline">
					<a name="increase"></a>
					<h2>Extra! Extra!</h2>
					<img class="fright" alt="Extra! Extra!" src="images/extra.jpg" />
					<p>
						Members who have a checking account with direct deposit can earn a .25% APY* Bonus paid on new share certificates!&nbsp;
						We already have some of the <%= link_to "best rates", rates_path %> in town...and now you can add .25% 
						to your certificate of deposit rate when you have your checking account and direct deposit with Class Act FCU!  Interested?&nbsp;
						<%= mail_to "members@classact.org", "Email us" %> to find out how you can take advantage of this great limited time offer!
					</p>
					<p class="smalli">
						**Annual Percentage Yield. New money only. Offer requires new or existing
						CAFCU checking account with direct deposit. Bonus paid for full term
						of new certificates opened between May 4, 2009 and December 31, 2009.
					</p>
				</div>

<!-- =================Extra Credit============= -->
				<div class="bottomline">
					<a name="extracredit"></a>
					<h2>What?!  An Overdraft!?!</h2>
					
					<p>Sounds like you need a little Extra Credit!!  There’s nothing more embarrassing or frustrating than discovering an overdraft.  Worse, they can be costly.  Besides our modest NSF fee, merchants also charge additional fees for returned checks.  
						But don’t worry, your Credit Union has the solution to help reduce the frequency of such events and limit the damage when they do.  You can earn “Extra Credit” by opening an overdraft line of credit.  When an overdraft occurs, Extra Credit 
						steps in to cover it.  It’s an affordable way to avoid the fees and hassle of a bounced check.  There is no cost to set up Extra Credit overdraft protection.  Finance charges are assessed only if and when an advance is made from your line of credit.  
						The sooner the balance is paid, the less it costs.  And you can pay it conveniently with Express Line or CyberBranch@Home.  To get started, 
						<%= link_to "click here", "https://www.loanliner.com/ICE/presenter/default.asp?CuIdNr=01601356&amp;LReqFormIdNr=2251210000216194617&amp;ORIGIN_CHANNEL_ID=4922930000206123721&amp;ORIGIN_LOCATION_ID=4922930000206123721" %> and you can apply online.
					</p>
					</div>

<!-- =================Honors Checking============= -->
				<div class="bottomline">
					<a name="honors" id="honors"></a>
					<h2>How Smart is your Money?</h2>
					<p>
						Class Act FCU is proud to offer a new checking account that is sure to make your money smarter.  
						It&#39;s time to move up to Honors Checking and earn 4.0% APY* on your checking account for things 
						you already do.  There are 3 simple requirements to qualify for Honors Checking:
					</p>
					<ol>
						<li>At least 10 debit card transactions with an aggregate amount of greater than $200 per month</li>
						<li>At least one Direct Deposit defined as an ACH Payroll Deposit from an employer or an employer’s retirement plan. </li>
						<li>Log into home banking at least once during the month and receive e-statements. </li>
					</ol>
					<p>
						If you meet all these requirements, you will be placed on our Honor Roll, which means your 
						Honors Checking will earn 4.0!  You will also be refunded ATM fees from any ATM** that you were 
						charged throughout the month.  It doesn&#39;t get any easier than that!  Call us today to get on the Honor Roll!
					</p>
					<p class="smalli">
						*4.0 Annual Percentage Yield (APY) paid on balances between $0.01 and $25,000, 1.01% APY paid 
						on all amounts above $25,000 each cycle when the minimum requirements are met.  If requirements 
						are not met in the cycle, your account will still function as a free checking account earning 0.25% APY; 
						however, it will not receive ATM fee refunds for that time period.  Rates as of January 1, 2009.  Interest 
						Rate and APY may change at anytime.  No minimum balance required.  Member must qualify for checking 
						account.  Personal accounts only.  No monthly service charge.  Only one Honors Checking account per member.
					</p>
					<p class="smalli">
						** ATM fee refunds up to $25 per month when requirements are met.  
						Does not apply to ATMs outside the US.
					</p>
				</div>
<!-- =================Bill Pay============= -->
				<div class="bottomline">
					<a name="billpay" id="billpay"></a>
					<h2>Try Free Bill Pay Today</h2>
					<p>
						We know your banking needs don&#39;t always fall neatly between 9:00 a.m. and 5:00 p.m.  
						That&#39;s why we&#39;re excited about our FREE online bill pay service.
						<%= link_to "Try the demo here", "https://www.billpaysite.com/V2/Demo.aspx?instID=38879" %>.
					</p>
					<ul>
						<li>Free, simple, and easy to use </li>
						<li>All payees are verified before the first payment is made </li>
						<li>Schedule, change, or stop single and recurring payments </li>
						<li>View payment history </li>
						<li>24 / 7 access; extended hours customer service and live CHAT available </li>
					</ul>
					<p>
						To sign up simply log into your account and then click Class Act Bill Pay or 
						call us at 502.964.7575 for more information about getting started with online 
						bill pay, just one more first-class service from Class Act FCU!
					</p>
				</div>
<!--=================MasterCard=============-->
          <div class="bottomline">
            <a name="mastercard" id="mastercard"></a>
            <h2>Check out our MasterCard</h2>
            
            <p>We offer you a variety of choices and one of those great choices is the ClassA MasterCard! 
              With a 10.9% annual percentage rate on purchases, no annual fee and a 25 day grace period 
              on purchases this card is the pick of the bunch! Cardholders can also take advantage of travel 
              reservations and discounts, eyewear discounts and $250,000 free travel insurance! </p>
            <p>To apply for the ClassA MasterCard online, <%= link_to "click here", "https://www.loanliner.com/ICE/presenter/default.asp?CuIdNr=01601356&amp;LReqFormIdNr=0060328220305160521&amp;ORIGIN_CHANNEL_ID=4922930000206123721&amp;ORIGIN_LOCATION_ID=4922930000206123721" %> To apply for the Gold MasterCard online, <%= link_to "click here", "https://www.loanliner.com/ICE/presenter/default.asp?CuIdNr=01601356&amp;LReqFormIdNr=1940010000216195530&amp;ORIGIN_CHANNEL_ID=4922930000206123721&amp;ORIGIN_LOCATION_ID=4922930000206123721" %></p>
            <p class="smalli">** No Annual Fee when at least 6 purchases made in 12 month period, otherwise $20 annual fee. 
              First 12 months Annual Fee waived. Subsequent 12 month periods start thereafter.</p>
          </div>
          
<!--=================Courtesy Pay==============-->
          <div class="bottomline">
            <a name="courtesy" id="courtesy"></a>
            <h2>Advance Class Courtesy Pay</h2>
              We understand. It happens to all of us. You make an honest mistake in your 
              checkbook. Unusual or unforeseen circumstances popped up at just the wrong 
              time. That&#39;s why Class Act Federal Credit Union is now offering Advanced Class 
              Courtesy Pay, an added member service that protects your checking account when 
              an inadvertent overdraft occurs. Look for details in the mail soon! 
              <%= image_tag "courtesy.jpg", :alt=>"Advance Class Courtesy Pay", :class => "fright" %>
            <ul>  
              <li>Saves you from the embarrassment of returned checks</li>
              <li>Saves you from merchant returned check charges</li>
              <li>Saves you collection agency fees and protects your credit rating</li>
            </ul>
            <p>We&#39;re looking out for our members because...Life Happens.</p>
          </div>
<!--=================E-Statements==============-->
            <div class="bottomline">
              <a name="estatements" id="estatements"></a>
              <h2>E-Statements Are Here!!</h2>
              <p>Class Act FCU is proud to introduce Electronic Statements!! Members can 
                receive statements and newsletters via e-mail. That means you can have your 
                statement on the first day of the month instead of waiting for the mail. It&#39;s 
                easy to review your statement and print it if you like, all from the convenience 
                of your own PC! Your You can go back to February 2002 to view your E-Statement 
                and you can enjoy the convenience of being able to view and print canceled 
                checks for the past 6 months.</p>
              <p>To sign up, <%= link_to "just log on to your account", hb_loginv3_2_path, :class=>"hblogin", :rel=>"external" %> and follow the prompts!</p>
              <p>Members who sign up will receive an e-mail the first week of each month 
                telling you that your statement is available,and direct you to our website at 
                www.classact.org where you can view and print your statement.</p>
            </div>
<!--=================Class A MasterCard==============-->
            <div class="bottomline">
              <a name="classa" id="classa"></a>
              <h2>ClassA MasterCard Available Now!</h2>
              <p>We offer you a variety of choices and one of those great choices is a new ClassA MasterCard! 
                With a 10.9% annual percentage rate on purchases, no 
                annual fee and a 25 day grace period on purchases this card is the pick of the 
                bunch! Cardholders can also take advantage of travel reservations and discounts, 
                eyewear discounts and $250,000 free travel insurance!</p>
              <p>The new ClassA MasterCard is available now and you can even apply 
                online! <%= link_to "Just click here to apply today!", "https://www.loanliner.com/ICE/presenter/default.asp?CuIdNr=01601356&amp;LReqFormIdNr=2251210000216194617&amp;ORIGIN_CHANNEL_ID=4922930000206123721&amp;ORIGIN_LOCATION_ID=4922930000206123721" %>
                 </p>
              <table class="whatsnew">
                  <tr>
                    <td>Type of Card</td>
                    <td>Annual Percentage Rate for Purchases</td>
                    <td>Annual Percentage Rate for Cash Advances</td>
                    <td>Minimum Credit Limit Required</td>
                    <td>Grace Period for repayment of Purchases</td>
                    <td>Method for computing the balance for purchases</td>
                    <td>Annual Fee</td>
                    <td>Transaction Fee for Purchases</td>
                    <td>Minimum Finance Charge</td>
                    <td>Over the Credit Limit Fee</td>
                    <td>Late Payment Fee</td>
                    <td>Cash Advance Fee</td>
                    <td>Minimum Monthly Payment</td>
                  </tr>
                  <tr>
                    <td>Class A</td>
                    <td>10.90%</td>
                    <td>12.90%</td>
                    <td>$300</td>
                    <td>25 Days from Statement Closing</td>
                    <td>Average daily balance including new purchases</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>$20</td>
                    <td>$20</td>
                    <td>$0</td>
                    <td>$10.00 or 2.5%</td>
                  </tr>
                  <tr>
                    <td>Gold</td>
                    <td>9.90%</td>
                    <td>11.90%</td>
                    <td>$5,000</td>
                    <td>25 Days from Statement Closing</td>
                    <td>Average daily balance including new purchases</td>
                    <td>None**</td>
                    <td>None</td>
                    <td>None</td>
                    <td>$20</td>
                    <td>$20</td>
                    <td>$2.00</td>
                    <td>$20.00 or 3%</td>
                  </tr>
              </table>
              <br />
              *** No Annual Fee when at least 6 
              purchases made in 12 month period, otherwise $20 annual fee. First 12 months 
              Annual Fee waived. Subsequent 12 month periods start thereafter.
            </div>
<!--=================Term Life Insurance==============-->
            <div class="bottomline">
              <a name="open" id="open"></a>
              <h2>Term Life Insurance Offered Through Class Act FCU</h2>
              <%= link_to image_tag("tl.gif", :alt=>"life insurance"), "http://www.selman.cc/creditunion/index.cfm/classact", :rel => "confirm external" %>
              <p>At Class Act Federal Credit Union, our mission is to provide our valued members with financial services that meet your 	
              changing needs. That's why we are proud to offer an economical way to plan for your family's financial security in the 
              years to come. </p>
              <p>As a valued member of Class Act Federal Credit Union, you and your spouse, age 18 through 64, have the opportunity to 
              apply for up to $150,000 of Group Term Life Insurance. And, up to $10,000 of coverage is available for your eligible 
              dependent children. This Term Life Insurance Plan, offered to you by Monumental Life Insurance Company of Baltimore, MD, 
              represents a simple, affordable way to significantly strengthen your personal insurance portfolio and ensure your loved 
              ones are financially protected. </p>
              <p>For more information, please <%= link_to "click here", "http://www.selman.cc/creditunion/index.cfm/classact" %>.</p>
            </div>
<!--=================Members Financial Services==============-->
            <div class="bottomline">
              <a name="MFN" id="MFN"></a>
              <h2>Money Management from Members Financial Services!</h2>
              <p>The Money Management section of our homepage offers many helpful tools and a 
                wealth of information about managing your finances. For more information and 
                assistance,
                <!--MFN Linking Wizard Code Starts here.-->
                <%= link_to "Contact A Representative", "http://members.cunamutual.com/representatives/rep.asp?01601356", :rel => "confirm external" %>
                <!--MFN Linking Wizard Code Ends here.-->
                serving Class Act FCU.</p>
                
              There are four modules within our MEMBERS Financial Services section:
              <ul>
                <li>
                  <!--MFN Linking Wizard Code Starts here.-->
                  <%= link_to "MEMBERS BrokerNet", "http://members.cunamutual.com/Brokernet/index.asp?01601356", :rel => "external" %>
                  <!--MFN Linking Wizard Code Ends here.-->
                  is a comprehensive online brokerage 
                  service. </li>
                <li>
                  <!--MFN Linking Wizard Code Starts here.-->
                  <%= link_to "Money Management", "http://members.cunamutual.com/calcs/default.asp?01601356", :rel => "confirm external" %>
                  <!--MFN Linking Wizard Code Ends here.-->
                  provides you with Financial Calculators 
                  and tools for reviewing your personal financial situation. </li>
                <li>
                  <!--MFN Linking Wizard Code Starts here.-->
					<%= link_to "Education Center", "http://members.cunamutual.com/EducationCenter/default.asp?01601356", :rel=> "confirm external" %>
					<!--MFN Linking Wizard Code Ends here.-->
					provides more than 70 articles on a 
					variety of personal financial topics </li>
                <li>
					<!--MFN Linking Wizard Code Starts here.-->
					<%= link_to "Insurance &amp; Investments", "http://members.cunamutual.com/Insurance&amp;Investments/default.asp?01601356", :rel => "confirm external" %>
					<!--MFN Linking Wizard Code Ends here.-->
					gives you access to information on various insurance and investment products and services.
				</li>
              </ul>
                  <!--MFN Linking Wizard Code Ends here.-->
                  gives you access to information on various insurance and investment products and services.
                <p>Best of all, there is no cost to you for all of this great information! Just 
                  click on a link and start on your road to financial freedom!</p>
                  
                <p>Representatives are registered through, and securities are sold 
                  through, CUNA Brokerage Services, Inc. (CBSI), member NASD/SIPC, 2000 Heritage 
                  Way, Waverly, Iowa 50677, toll-free (866) 512-6109. Insurance sold through 
                  licensed CUNA Mutual Life Insurance Company Representatives, and in New York, 
                  licensed insurance representatives of other companies. Nondeposit investment 
                  products are not federally insured, involve investment risk and may lose value, 
                  are not obligations of or guaranteed by the credit union. CBSI is a registered 
                  broker/dealer in all fifty states of the United States of America.</p>
			 </div>
<!--=================Here & Now Indirect Lending==============-->
                <div class="bottomline">
                  <a name="indirect" id="indirect"></a>
                  <h2>Here &amp; Now Indirect Lending...Because Your Time is Valuable!</h2>
                    Class Act Federal Credit Union has a great time saving way for you to 
                    purchase your car at the dealership and still get credit union financing at the 
                    same time. The Here &amp; Now financing program works like this:
                  <ol>
                    <li>Choose any participating dealership listed below that is displaying the Here &amp; Now Credit Union 
                    financing logo. </li>
                    <li>Complete your loan application right at the dealership. </li>
                    <li>Upon approval, drive away with your automobile! </li>
                  </ol>
                  <p>It's as easy as that! No special trips to the Credit Union to fill out 
                    paperwork and you'll always receive the same low rates and quality service you 
                    have come to expect from your Credit Union!</p>
                  <p>When you visit one of the dealerships below to purchase your vehicle, insist 
                    on Here &amp; Now Credit Union Financing! </p>
                  <p>Dealerships currently participating in the Here &amp; Now Indirect 
                    Lending Program: </p>
                    
                  <table class="whatsnew">
                      <tr>
                        <td>
                            Alex Montgomery, Inc.<br />
                            9000 Hwy 44 East<br />
                            Mt. Washington, Ky 
                            40047<br />
                            (502) 955-6800<br />
                        </td>
                        <td>
                            Bachman Chevrolet Volkswagen Subaru<br />
                            9652 Bluegrass Pkwy<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 719-3812<br />
                        </td>
                        <td>
                            Bob Hook Chevrolet<br />
                            4144 Bardstown Road<br />
                            Louisville, Ky 
                            40218<br />
                            (502) 499-0800<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Bob Montgomery Chevrolet<br />
                            5340 Dixie Highway<br />
                            Louisville, Ky 
                            40216<br />
                            (502) 448-2820<br />
                        </td>
                        <td>
                            Byerly Ford-Nissan<br />
                            4041 Dixie Highway<br />
                            Louisville, Ky 
                            40216<br />
                            (502) 448-1661<br />
                        </td>
                        <td>
                            Carbiz, Inc.<br />
                            502 S. 1st Street<br />
                            LaGrange, Ky 
                            40031<br />
                            (502) 222-8111<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Carriage Ford<br />
                            908 E. Hwy 131<br />
                            Clarksville, In 
                            47129<br />
                            (812) 284-4444<br />
                        </td>
                        <td>
                            Clapp Auto Group Volkswagen<br />
                            125 W. Hwy 131<br />
                            Clarksville, In 
                            47129<br />
                            (812) 948-1541<br />
                        </td>
                        <td>
                            Collins Lincoln Mercury<br />
                            4220 Bardstown Road<br />
                            Louisville, Ky 
                            40218<br />
                            (502) 459-9550<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Collins Nissan<br />
                            4142 Bardstown Road<br />
                            Louisville, Ky 40218<br />
                            (502) 459-9550<br />
                        </td>
                        <td>
                            Craig &amp; Landreth Used Cars<br />
                            5357 Dixie 
                            Highway<br />
                            Louisville, Ky 40216<br />
                            (502) 447-3450<br />
                        </td>
                        <td>
                            Craig &amp; Landreth Used Cars<br />
                            1700 S. Hurstbourne Pkwy <br />
                            Louisville, Ky 40220<br />
                            (502) 499-1774<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Craig &amp; Landreth Used Cars<br />
                            619 E. Lewis &amp; Clark Pkwy <br />
                            Clarksville, In 47129<br />
                            (812) 280-8000<br />
                        </td>
                        <td>
                            Cross Motors Corporation<br />
                            1501 Gardiner Lane<br />
                            Louisville, KY 
                            40218<br />
                            (502) 459-9900<br />
                        </td>
                        <td>
                            Downtown Ford<br />
                            809 South 5th Street<br />
                            Louisville, Ky 
                            40203<br />
                            (502) 584-9731<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Enterprise Auto Sales<br />
                            3718 Bardstown Road<br />
                            Louisville, Ky 
                            40218<br />
                            (502) 458-7722<br />
                        </td>
                        <td>
                            Fern Creek Auto Sales<br />
                            6203 Bardstown Road<br />
                            Louisville, KY 
                            40291<br />
                            (502) 231-1212<br />
                        </td>
                        <td>
                            Greentree Toyota<br />
                            808 East Lewis &amp; Clark Parkway<br />
                            Clarksville, IN 
                            47129<br />
                            (812) 284-2277<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Lexus of Louisville<br />
                            2400 Blankenbaker Pkwy<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5050<br />
                        </td>
                        <td>
                            Perkins<br />
                            6424 Hwy 146<br />
                            Crestwood, Ky 
                            40014<br />
                        </td>
                        <td>
                            SAG Just Trucks Suzuki<br />
                            4120 Bardstown Road<br />
                            Louisville, Ky 
                            40218<br />
                            (502) 493-3350<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Sam Swope BMW<br />
                            #3 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5080<br />
                        </td>
                        <td>
                            Sam Swope Honda World<br />
                            #1 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5040<br />
                        </td>
                        <td>
                            Sam Swope Infiniti<br />
                            #8 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5070<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Sam Swope Volvo<br />
                            #5 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 493-3338<br />
                        </td>
                        <td>
                            Sam Swope Mitsubishi<br />
                            #11 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5030<br />
                        </td>
                        <td>
                            Sam Swope Pontiac<br />
                            6514 Dixie Highway<br />
                            Louisville, Ky 
                            40258<br />
                            (502) 933-3388<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Sam Swope Pontiac GMC Dixie<br />
                            6770 Dixie Highway<br />
                            Louisville, Ky 
                            40258<br />
                            (502) 933-3388<br />
                        </td>
                        <td>
                            Sam Swope Buick, GMC, Truck<br />
                            406 East Lewis &amp; Clark Parkway<br />
                            Clarksville, In 
                            47129<br />
                            (812) 282-8285<br />
                        </td>
                        <td>
                            Sam Swope The Big Lot<br />
                            #9 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-4444<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Sam Swope Buick<br />
                            #7 Swope Auto Center<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-4600<br />
                        </td>
                        <td>
                            Saturn of Louisville<br />
                            #2 Swope Autocenter<br />
                            Louisville, Ky 
                            40299<br />
                            (502) 499-5060<br />
                        </td>
                        <td>
                            Saturn of Louisville South<br />
                            6600 Dixie Highway<br />
                            Louisville, Ky 
                            40258<br />
                            (502) 933-0219<br />
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                            Toyota of Louisville<br />
                            6514 Dixie Highway<br />
                            Louisville, Ky 
                            40258<br />
                            (502) 935-1433<br />
                        </td>
                        <td>
                            Thrifty Car Sales<br />
                            6507 Preston Highway<br />
                            Louisville, Ky 
                            40219<br />
                            (502) 962-6442<br />
                        </td>
                        <td>
                            Tri County Ford Mercury<br />
                            5101 West Highway 146<br />
                            Buckner, Ky 
                            40001<br />
                            (502) 241-7333<br />
                        </td>
                      </tr>
                  </table>
                </div>
<!--=================Eligibility==============-->
                <div class="bottomline">
                  <a name="eligible" id="eligible"></a>
                  <h2>Are You Eligible to Join Class Act FCU?</h2>
                  
                  <p>In 1954, Classroom Teachers FCU was founded to serve the employees of the Jefferson 
                    County Board of Education, their families and the credit union staff. With a new name but the same purpose, to 
                    serve the educational community in Louisville and the surrounding areas, 
                    Class Act FCU is available to full-time or part-time employees of:</p>
                  <ul>
                    <li>Academy for Individual Excellence </li>
                    <li>Anchorage Schools </li>
                    <li>Bardstown Public School Systems </li>
                    <li>Beth Haven Christian </li>
                    <li>Brown Mackie College </li>
                    <li>Bullitt County Public School Systems </li>
                    <li>Christian Academy </li>
                    <li>Contract Bus Service </li>
                    <li>Cornerstone Christian Academy </li>
                    <li>Daymar College </li>
                    <li>Embry-Riddle Aeronautical University </li>
                    <li>Eminence Independent Schools </li>
                    <li>Evangel Christian </li>
                    <li>JCTA Staff </li>
                    <li>Jefferson County Public School Systems </li>
                    <li>KEA Staff </li>
                    <li>Kentucky Country Day </li>
                    <li>KET </li>
                    <li>Ledco, Inc. </li>
                    <li>Maryhurst </li>
                    <li>Meredith Dunn </li>
                    <li>National College of Business and Techonology </li>
                    <li>Nelson County Public School Systems </li>
                    <li>Oldham County Public School Systems </li>
                    <li>Portland Christian School</li>
                    <li>Shelby County Public School Systems </li>
                    <li>Spencer County Public School Systems </li>
                    <li>Sullivan University </li>
                    <li>University of Louisville Students </li>
                    <li>University of Louisville Alumni </li>
                    <li>Ursuline Campus </li>
                    <li>Victory Christian </li>
                    <li>Walden School </li>
                    <li>Whitefield Academy
                      <h2>Primary Member's Eligible Family</h2>
                      <p>If you are eligible to join Class Act FCU through one of the above 
                        affiliations, then your family is also eligible to take advantage of the 
                        benefits we offer! Eligible family members include:</p></li>
                    <li>Spouse </li>
                    <li>Children </li>
                    <li>Siblings </li>
                    <li>Parents </li>
                    <li>Grandparents </li>
                    <li>Grandchildren </li>
                    <li>Stepparents </li>
                    <li>Stepchildren </li>
                    <li>Stepsiblings </li>
                    <li>Adoptive Relationships </li>
                    <li>Other relatives are eligible if living in the primary member's household.
                      <p>If you are part of one of the groups above, click <%= link_to "here", "https://secure.andera.com/index.cfm?fiid=C1A4D5A86FD242B78C663906FBCF123C",  :rel=>"confirm external" %> to open your account online.&nbsp; If you aren't eligible
                          to join Class Act Federal Credit Union, there is a
                           chance you are eligible to join a different credit
                          union based on your  employment, school affiliation,
                          etc. Visit the <%= link_to "Kentucky Credit Union League website", "http://www.kycul.org/", :rel=>"confirm external" %> 
                        to find out if you are eligible to join a different credit
                        union and find out what the  Credit Union Difference
                        could mean to you!</p></li>
                   </ul>
                  </div>


<!--==============Sharing ================-->
                  <div class="bottomline">
                    <h2>CU Here...and There!</h2>
                      
                      		<p>Kentucky Credit Unions have joined 
                            with credit unions in the Midwest and across the country so you can access 
                            all of your accounts wherever you see this logo of the Credit Union swirl! 
                            So we will &quot;CU Here....and There!&quot;</p><%= link_to image_tag("cuswirl.JPG", :alt => "Connect to CU Service Center!"), "http://www.cucenters.com/", :rel => "external" %> 
                          <h2>What is a Credit Union Center?</h2> 
                            <p>A Credit Union Center is simply a branch that's shared by several 
                              different credit unions. Members of any participating credit union can go 
                              to any Credit Union Center to conduct virtually all their credit union 
                              transactions. To the members, it's the same as visiting their own credit 
                              union branches.</p>
                            <p>Credit Union Centers are an efficient way for credit unions to offer 
                              you more locations and more convenience. For example, you could stop by a 
                              Credit Union Center while you're travelling, or if you move away, there 
                              might be a Credit Union Center nearby where you can conduct your 
                              transactions! Where are the Credit Union Centers Located? </p>
                            <p>The Credit Union Centers are located at 4917B Dixie Highway, Kmart 
                              Plaza and 2925 Goose Creek Road. Class Act FCU members can go into those 
                              branches to conduct almost any transaction that they could normally do 
                              with a teller at our main office. Make withdrawals, transfers, deposits, 
                              and inquiries on your account. Nationwide, you have access to your account 
                              through the Credit Union Service Corporation (CUSC); the largest shared 
                              branch program across the country. Members of credit unions participacing 
                              in the shared branch program across the country have access to their 
                              accounts and services in more than 20 states. Indiana offers members 12 
                              shared branch locations throughout the state; in Kentucky, we're working 
                              to build our network to offer the same convenience to you. </p>
                            <p>If you have any questions about the Credit Union Centers, you can reach 
                              their offices at 502.448.1686 (Dixie Highway) or 502.429.0068 (Goose Creek 
                              Road). For a listing of all credit unions affiliated with the CU Service 
                              Center network, <%= link_to "click here!", "http://www.creditunion.net/", :rel => "confirm external" %></p>
				</div>       
        </div>       
     </div>