</div> <!-- #content -->
		<div id="footer" class="clearfix">
			<div class="clearfix">
				<div class="left">
					Class Act FCU<br />
					3620 Fern Valley Road<br />
					Louisville, KY 40219<br />
					Phone: (502) 964-7575<br />
					Toll Free: (800) 292-2960<br />
                    <%= link_to image_tag("facebook.jpg", :alt =>"Join us on Facebook!"), "http://www.facebook.com/home.php?#!/pages/Louisville-KY/Class-Act-Federal-Credit-Union/83411577780?ref=ts", :rel =>"external" %>
				</div>

				<div class="right">
					<p>
						<%= link_to image_tag("ncua.jpg", :alt => ""), "http://www.ncua.gov", :rel => "confirm external" %>
						<%= image_tag "ehl.gif", :alt => "" %>
					</p>
					<p>
						Your savings federally insured to $250,000 <br />
						by the National Credit Union Administration, <br />
						a U.S. 
						Government Agency.&nbsp; We do business in <br />
						accordance with the Federal Fair Housing Law &amp; <br />
						The Equal Credit Opportunity Act. </p>
				</div>
			</div>
			<p>
				Site Design: 
				<br />
				<%= link_to image_tag("shareone.gif", :alt => "ShareOne, Inc."), "http://www.shareone.com", :rel => "confirm external" %>
				<br />
			</p>
			<!--
			<p>
				<%= link_to image_tag("http://www.w3.org/Icons/valid-xhtml10", :alt => "Valid XHTML 1.0 Strict"), "http://validator.w3.org/check?uri=referer" %>
			</p>
			-->
		</div>
	</div>